.fixed-table {
    table-layout: fixed;
}

.prose pre {
    margin-bottom: 18px !important;
}

/* override */
#docs-content .api-section h2 {
    border: 0 !important;
}

#docs-content .api-section h3 {
    padding-top: 47px;
}

.toggle-target .mb24 {
    margin-bottom: 0 !important;
}

/* api section styles */

.api-section table code,
.api-section table .txt-code {
    word-wrap: break-word;
}

/* style-spec styles */

var {
    color: #d23c75;
    font-style: italic;
}

/* add spacing to bottom of each h2 section*/
.style-spec-page .section-h2 {
    padding-bottom: 30px;
}

/* bring h2|pre and first <Property> heading closer together */
h2 + .body .section .body > .style-spec-property:first-child,
pre + .style-spec-property {
    margin-top: -30px;
}
/* bring style spec properties slightly closer together by clearing the previous item's mb12 */
.style-spec-item-dl + .style-spec-property,
.style-spec-item-doc + .style-spec-property {
    margin-top: -12px;
}

/* add padding to top of h3 to clear top bar sticker */
.style-spec-page h3 {
    padding-top: 50px !important;
}

/* remove border from style spec <Property/> h2 */
#docs-content .style-spec-page .prose .style-spec-property h2 {
    border-top: 0 !important;
}
/* remove extra padding from style spec <Property/> h3 */
.style-spec-page .style-spec-property h3 {
    padding-top: 0 !important;
}

/* turn off bolding on scroll-spy, since we cannot get it to highlight reliably across pages */
.sticky-inner-wrapper ul li a.txt-bold {
    font-weight: normal !important;
}
