.fixed-table {
    table-layout: fixed;
}

.prose pre {
    margin-bottom: 18px !important;
}

/* override */
#docs-content .api-section h2 {
    border: 0 !important;
}

#docs-content .api-section h3 {
    padding-top: 47px;
}

/* api section styles */

.api-section table code,
.api-section table .txt-code {
    word-wrap: break-word;
}

/* style-spec styles */

var {
    color: #d23c75;
    font-style: italic;
}

/* add spacing to bottom of each h2 section*/
.style-spec-page .section-h2 {
    padding-bottom: 30px;
}

/* bring h2|pre and first <Property> heading closer together */
h2 + .body .section .body > .style-spec-property:first-child,
pre + .style-spec-property {
    margin-top: -30px;
}
/* bring style spec properties slightly closer together by clearing the previous item's mb12 */
.style-spec-item-dl + .style-spec-property,
.style-spec-item-doc + .style-spec-property {
    margin-top: -12px;
}

/* add padding to top of h3 to clear top bar sticker */
.style-spec-page h3 {
    padding-top: 50px !important;
}

/* remove border from style spec <Property/> h2 */
#docs-content h2.no-h2-border,
#docs-content .style-spec-page .prose .style-spec-property h2 {
    border-top: 0 !important;
}
/* remove extra padding from style spec <Property/> h3 */
.style-spec-page .style-spec-property h3 {
    padding-top: 0 !important;
}

/* override "Expression" page headings: "# Expression reference" and "## Types" */
.style-spec-page .section-h2 #types {
    border-top: 0 !important;
    margin-top: -30px !important;
}
.style-spec-page #expression-reference {
    margin-bottom: 0 !important;
    margin-top: 30px !important;
}

/* turn off bolding on scroll-spy, since we cannot get it to highlight reliably across pages */
.sticky-inner-wrapper ul li a.txt-bold {
    font-weight: normal !important;
}

/* clear the topbar sticker */
.scroll-margin-top {
    scroll-margin-top: 50px;
}
/* increase margin for when topbar sticker breaks into two lines */
@media screen and (min-width: 990px) and (max-width: 1230px) {
    .scroll-margin-top {
        scroll-margin-top: 100px;
    }
}

/* compact table option */
.table--compact td,
.table--compact th {
    padding: 6px !important;
}

/* add background on item-member tables to differentiate style */
.item-member table {
    background: #fbfcfe !important;
}

/* remove bottom margin from example code block */
.api-example pre {
    margin-bottom: 0 !important;
}
