name: build-test-deploy

on: 
  push:
    branches:
    - main

jobs:
  build-test-deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js 14.x
      uses: actions/setup-node@v1
      with:
        node-version: 14.x
    - run: npm ci
    - run: git submodule update --init
    - run: |
      cd maplibre-gl-js
      npm ci
      npm run build-tsc
    - run: npm run build
    - run: npm run test
    - run: cp _config.yml _site 
    - name: Deploy
      uses: JamesIves/github-pages-deploy-action@4.1.0
      with:
        branch: gh-pages
        folder: _site
